.navbar {
  background-color: #d6d6d6;
}

.logo {
  width: 150px;
}

.imgHero {
  width: 60%;
  max-width: 500px;
  height: auto;
  /* border: 5px solid #000; */
  border-radius: 10px;
}
.imgHero:hover {
  box-shadow: #000 0px 0px 10px;
  transition: box-shadow 0.3s ease;
}

.badgeHome {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Esperienze  */

.hero {
  width: 100%;
  height: auto;
  padding: 50px 100px;
  object-fit: contain;
}

.hero-img img {
  width: 60%;
  box-shadow: #000 0px 0px 10px;
  border-radius: 10px;
  object-fit: contain;
}

.hero-img img:hover {
  box-shadow: #000 0px 0px 20px;
  transition: box-shadow 0.3s ease;
}

.experience-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.experience-img img:hover {
  box-shadow: #000 0px 0px 10px;
  transition: box-shadow 0.3s ease;
}

.reportage-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.reportage-img img:hover {
  box-shadow: #000 0px 0px 10px;
  transition: box-shadow 0.3s ease;
}

.phi-intro-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.phi-intro-img img:hover {
  box-shadow: #000 0px 0px 10px;
  transition: box-shadow 0.3s ease;
}

.philosophy-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.philosophy-img img:hover {
  box-shadow: #000 0px 0px 10px;
  transition: box-shadow 0.3s ease;
}
/* about  */

.about-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.about-img img:hover {
  box-shadow: #000 0px 0px 10px;
  transition: box-shadow 0.3s ease;
}
